/* Reset some default styles */
@font-face
{
    font-family: Logo;
    src: url("./fonts/crumbled-pixels.regular.ttf");/* IE9 */
}
@font-face
{
    font-family: title;
    src: url("./fonts/nihonium113.regular.ttf");/* IE9 */
}
@font-face
{
    font-family: name;
    src: url("./fonts/Crackman.otf"),url("./fonts/Crackman Back.otf"),url("./fonts/Crackman Front.otf");/* IE9 */
}
@font-face
{
    font-family: eight_bit;
    src: url("./fonts/8_bit_1_6_Regular.ttf");
}
@font-face
{
    font-family: pixel_letters;
    src: url("./fonts/Pixel12x10-v1.1.0.ttf");
}
@font-face
{
    font-family: pixel;
    src: url("./fonts/Pixel12x10Mono-v1.1.0.ttf");
}

body, h1, h2,h3,a {
    margin: 0;
    padding: 0;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.38);
    text-decoration: none;
}
body{
    overflow-y: scroll;
    position: relative;
}
/* Basic styles for the header */
header {
    background-color: #20615b;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
p{margin: 0;}

.navbar {
    display: flex;
    height:40px;
    justify-content: space-between;
    margin: 0 auto;
    width: inherit;
    padding: 0 20px;
}


.logo a {
    text-decoration: none;
    font-family: Logo,monospace;
    color: #f05454;
    font-size: 90px;
    font-weight: lighter;
}
.logo{
    transform: translate(0,5px);


}


.nav-list li {
    margin: 0 20px;
    align-self: center;

}

.nav-list a {
    text-decoration: none;
    color: #dece9c;

}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

/* Styles for mobile navigation */
.mobile-menu-button {
    color: #dece9c;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.38);
    display: none;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    font-size: 32px;
    cursor: pointer;
}
.nav-list {
    list-style: none;
    display: flex;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    font-family: 'Orbit', sans-serif;



}
.body-elements {

    position: relative;
    z-index: 1;
}
section > h1 > a,section > h1{
    text-align: center;
    color: #f05454;
    font-size: max(5vw,64px);

    padding: 20px;
    font-family: title,monospace;
}

#home p{
    font-family: "Ubuntu Mono", monospace;
    font-size: 0.8vw;

}
#home{
    height: 95vh;
    background-color: #161616;
    padding: 88px 15px 10px;
    border-top: 20px;
    color: #F5F5F5;

}
#home h1{
    text-align: left;
    font-size: 10vw;
    align-self: center;
    font-family: "title", monospace;
    color: #f5f5f5;
}

#about{
    /*box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);*/
    background-color: #20615b;
    height: 75vh;
    padding-bottom: 100px;
    border: 0;

}
#about p{
    color: #d6cda4;
    font-family: "Orbit",monospace;
    padding: 5px 40px 15px;
    font-size: max(1.3vw,16px);
    font-weight: lighter;
}
#about h3{
    color: #d4cba3;
    font-family: "Orbit",monospace;
    padding: 0 40px 0;
    font-weight: bold;
    text-decoration: underline;
   font-size: max(1.4vw,18px);

}
#portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #161616;
    padding-bottom: 100px;

}

#skills{
    background-color: #20615b;
   padding-left: 20px;
    padding-right: 20px;

}
.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}



.skill {
    width: calc(20% - 20px);
    margin: 30px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(27, 28, 27, 0.71);
}

.skill-name {
    font-size: 2vh;
    text-align: center;
    font-family: pixel,monospace;
    color: #d6cda4;
    margin-bottom: 8px;
}

.progress-bar {
    height: 20px;
    background-color: #161616;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    font-family: monospace;
}

.progress {
    display: inline-block;

    height: 100%;
    background-color: rgb(240, 84, 84);
    border-radius: 5px;
    animation: loading 2s infinite;
}

.languages-container {
    display: flex;
    justify-content: start;
}

.language-icon {
    font-size: 32px;
    margin-left: 5px;
    margin-right: 5px;
    color: #d6cda4; /* Change the color as needed */
    cursor: pointer;
}

.tooltip {
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.language-icon:hover .tooltip {
    opacity: 1;
}

/* Additional styles for the mobile navigation */
.body-elements::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.52), 0 2px 4px rgba(0, 0, 0, 0.42);
    mix-blend-mode: multiply;
    background: #37373b;
    z-index: -1;
}












@media (max-width: 768px) {
    /* Basic styles for the header */
    header{
        padding: 10px 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
    }
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
    }
    .nav-list-items{
        padding: 7px;

    }
    .proj-name{
        font-size: 5vw;
    }
    .nav-list.active {
        background-color: #20615b;
        padding: 0;
        display: flex;
        animation: slide-down 0.5s;

    }

    /* Show the mobile menu button in mobile mode */
    .mobile-menu-button {
        display: block;
        text-align: right;

    }
    .nav-list.hidden {
        opacity: 0;

    }

    /* Add fade-out animation for the mobile menu button */
    .mobile-menu-button.hidden {
        opacity: 0;

    }
    #home p{
        font-size: 3vw;

    }
    #home h1{
        font-size: 15vh;
    }
    section > h1 > a,section > h1{
        font-size: 10vw;
    }
    .skills-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

    }
    .skill {
        width: 80vw;

    }
}

@keyframes slide-up {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}
@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
/* Define a CSS animation */
.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
/* Additional styles for the body and portfolio section */
.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.overlay {
    text-decoration: none;
    font-family: "Orbit", monospace;
    text-align: center;
    color: #3cb4a6;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    opacity: 1;
    left: 50%;
    transform: translate(-50%, -50%);
}

.portfolio-item {
    margin: 20px;
    position: relative;
    text-align: center;
    font-size: 1.3vw;
    -webkit-transition: font-size 2s;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out, border-radius 0.5s ease-out;
}

.portfolio-item img {
    border-radius: 15px;
    max-width: 100%;
    max-height: 25vh;
    opacity: 0.4;
    transition: 0.5s ease-in;
}

.portfolio-item:hover {
    transform: scale(1.2);
    opacity: 1;
    border-radius: 1px;
    cursor: pointer;

}

.portfolio-item:hover img {
    opacity: 1;
}
.portfolio-item:hover .overlay {
    mix-blend-mode: color-dodge;
}

#contact{
    background-color: #161616;
}
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    margin: 0 2vw;
    color: rgba(58, 238, 216, 0.5); /* Change the color as needed */
    text-decoration: none;
    font-size: 32px;
}



/* Basic footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project-item{
    margin: 20px;
}
.project-item > a > img{
    height: 200px;

}
.container {
    display: flex;
    justify-content: center;
}
.container form{
    width: 100%;
}

.container form input, .container form textarea{
    align-self: center;
    font-size: 2vh;
    font-family:'pixel_letters',monospace;
    padding: 10px;
    color:#d4cba3;
    width: 95%;
    resize: none;

    background-color: #1f312f;
    border: 2px solid #3cb4a6
}
.container form textarea{

    height: 50vh;
}
.container form label{
    width: 95%;
    align-self: center;
}



@-moz-document url-prefix() {
    .logo{
        transform: translate(0,-10px);
    }
}